<div class="product">
  <h2 class="product__name">{{ .name }}</h2>
  {{ with .image }}
    <img class="product__image" src="{{ . }}" alt="">
  {{ end }}
  <p class="product__description">{{ .description }}</p>
  <!-- TODO: add variant drop-down for sizes. Update main.scss grid-->
  <div class="product__button-container">
    <div class="product__price" id="{{ .id }}-price">${{ .price }}</div>
    <label for="size">{{ .size_variant }}</label>
    <select name="{{ .id }}-size" id="{{ .id }}-size">

    </select>
    <button
      id="{{ .id }}-btn"
      class="snipcart-add-item buy-button"
      data-item-id="{{ .id }}"
      data-item-name="{{ .name }}"
      data-item-price="{{ .price }}"
      data-item-url="{{ .product_url }}"
      data-item-description="{{ .description }}"
      data-item-custom1-name="{{ .size_variant }}"
      data-item-custom1-options="{{ .size_variant_options }}">
      Add to cart
    </button>
  </div>
</div>

<script>
  sizeOptions = `{{ .size_variant_options }}`.split("|")
  sizeOptions.forEach(size => {
    select = document.getElementById('{{ .id }}-size');
    option = document.createElement("option");
    removePrice = size.includes('[') ? size.substring(0, size.indexOf('[')) : size; 
		option.value = removePrice; 
		option.text = removePrice;
    priceIncrease = size.includes('[') ? size.substring(size.indexOf('+')+1, size.length-1) : 0;
    option.setAttribute("data-price", priceIncrease)

		select.add(option)
  })
	document.querySelector('#{{ .id }}-size').addEventListener('change', () => {
		let size = document.querySelector('#{{ .id }}-size').value;
		document.querySelector('#{{ .id }}-btn').setAttribute("data-item-custom1-value", size);


    console.log(document.querySelector('#{{ .id }}-size').selectedOptions[0].getAttribute('data-price'))
  });
</script>

